.header{
    background-color: #FFFFFF;
    border-bottom: 1px solid #000000;
    font-family: "Montserrat", serif;

}

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.headerInner{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    .list{
        display: flex;
        column-gap: 40px;
        margin: 0;
        list-style: none;
        .link{
                color: #000000;
                list-style: none;
                font-size: 15px;
                transition: all .5s;
                cursor: pointer;
                &:hover{
                    color: #CD2125;
                }
        }
    }
    .closet{
        display: flex;
        column-gap: 40px;
        align-items: center;
        transition: all .3s;
        div{
            display: flex;
            align-items: center;
            column-gap: 15px;
            p{
                font-size: 15px;
                margin: 0;
            }
        }
        .logout{
            cursor: pointer;
            transition: all 0.5s;
            path{
                transition: all 0.5s;
                stroke: #000000;
            }
            &:hover path{
                stroke: #CD2125;
            }
            &:hover p{
                transition: all 0.5s;
                color: #CD2125;
            }
        }
    }
}