.panel{
    font-family: "Montserrat";
    .container{
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;
        .panelInner{
            display: flex;
            align-items: baseline;
            column-gap: 40px;
            justify-content: space-between;
            .panelLeft{
                padding: 82px 0;
                display: flex;
                flex-direction: column;
                row-gap: 45px;
                border-right: 1px solid #000000;
                h2{
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #CD2125;
                }
                ul{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    row-gap: 37px;
                    list-style: none;
                    width: 70%;
                    li{
                        .link{
                            text-decoration: none;
                            color: #000000;
                            font-size: 16px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .panelRight{
                padding: 50px 0;
                .table {
                    width: 100%;
                    border: none;
                }
                .table thead th {
                    color: #FFFFFF;
                    font-weight: bold;
                    text-align: left;
                    border: none;
                    padding: 10px 20px;
                    background: #CD2125;
                    font-size: 14px;
                }
                .table thead tr th:first-child {
                    border-radius: 8px 0 0 8px;
                }
                .table thead tr th:last-child {
                    border-radius: 0 8px 8px 0;
                }
                .table tbody td {
                    text-align: left;
                    border: none;
                    padding: 10px 20px;
                    font-size: 14px;
                    vertical-align: top;
                }
                .table tbody tr:nth-child(even){
                    background: #fdf0f0;
                }
                .table tbody tr td:first-child {
                    border-radius: 8px 0 0 8px;
                }
                .table tbody tr td:last-child {
                    border-radius: 0 8px 8px 0;
                }
            }
        }
    }
}